.insight-cards {
  // Vars

  // Support

  // Module
  & {
    margin: 0 0 194px;

    @include mobile {
      margin: 0 0 vmin(70);
    }

    &__wrapper {
      padding: 0 97px;

      @include mobile {
        padding: 0;
      }
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
      grid-column-gap: 24px;
      grid-row-gap: 24px;

      @include mobile {
        grid-template-columns: 1fr;
        grid-row-gap: vmin(20);
      }
    }

    &__item {
      background: #FFFFFF;
      border-radius: 4px;
      padding: 12px;
      text-decoration: none;
      color: initial;
      height: 260px;
      transition: all 300ms ease;

      @include mobile {
        border-radius: vmin(4);
        padding: vmin(12);
        height: vmin(260);
      }

      &:hover {
        box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.12);
      }

      &-image {
        height: 158px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        border-radius: 4px;
        padding: 10px;
        box-sizing: border-box;
        margin: 0 0 9px;
        background-color: #EFEDEC;
        background-size: cover;
        background-position: center;
        @include mobile {
          border-radius: vmin(4);
          padding: vmin(10);
          margin: 0 0 vmin(10);
        }
      }

      &-date {
        background: #3AB1A4;
        border-radius: 3px;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        padding: 6px 8px;

        @include mobile {
          border-radius: vmin(3);
          font-size: vmin(14);
          padding: vmin(6) vmin(8);
        }
      }

      &-label {
        font-size: 17px;
        color: #464241;
        letter-spacing: 5px;
        text-align: right;
        line-height: 28px;
        margin: 0 -5px 0 0;

        @include mobile {
          font-size: vmin(17);
          line-height: vmin(28);
          letter-spacing: vmin(5);
          margin: 0 vmin(-5) 0 0;
        }
      }

      &-title {
        font-size: 17px;
        line-height: 23px;
        color: #464241;
        letter-spacing: 0;
        padding: 0 4px 0 3px;

        @include mobile {
          font-size: vmin(17);
          line-height: vmin(23);
          padding: 0 vmin(4) 0 vmin(3);
        }
      }
    }

    &__pagination {
      display: flex;
      justify-content: space-between;
      padding: 34px 10px 0;

      @include mobile {
        padding: vmin(23) vmin(10) 0;
      }

      &-item {
        font-family: $mabry;
        font-weight: 500;
        font-size: 23px;
        color: #B09687;
        letter-spacing: 0;
        cursor: pointer;
        transition: all 150ms ease;

        @include mobile {
          font-size: vmin(23);
        }

        &:hover {
          color: #DDB198;
        }

        &--prev {
          margin: 0 auto 0 0;
        }

        &--next {
          margin: 0 0 0 auto;
        }
      }

      &-arrow {
        width: 30px;
        height: 17px;
        transition: all 150ms ease;

        @include mobile {
          width: vmin(30);
          height: vmin(17);
        }

        &--prev {
          margin: 0 12px 0 0;
          transform: rotate(180deg);

          @include mobile {
            margin: 0 vmin(12) 0 0;
          }
        }

        &--next {
          margin: 0 0 0 12px;

          @include mobile {
            margin: 0 0 0 vmin(12);
          }
        }
      }
    }
  }

  // Facets

  // States
}
