.hero-title {
  // Vars

  // Support

  // Module
  & {
    margin: 0 0 56px;
    box-sizing: border-box;

    @include mobile {
      margin: 0 0 vmin(20.5);
    }

    &__wrapper {
      margin: 0 92px;
      padding: 0 83px;
      border-bottom: 2px solid #FFFFFF;

      @include mobile {
        padding: 0;
        margin: 0 vmin(-2);
      }

      &--noborder {
        border-width: 0;
      }
    }

    &__title {
      font-size: 91px;
      line-height: 83px;
      color: #3E3C43;
      letter-spacing: 0;
      text-align: center;
      margin: 0 0 22px;
      font-weight: 500;

      @include mobile {
        font-size: vmin(42);
        line-height: vmin(40);
        margin: 0 0 vmin(40);
      }
    }

    &__lead {
      font-style: italic;
      font-size: 23px;
      line-height: 32px;
      color: #3E3C43;
      letter-spacing: 0;
      text-align: center;
      padding: 0 0 57px;
      max-width: 808px;
      margin: 0 auto;

      @include mobile {
        font-size: vmin(17);
        line-height: vmin(23);
        max-width: initial;
        padding: 0 vmin(5) vmin(20.5);
        text-align: left;
      }
    }

    &--light {
      .hero-title__title {
        font-weight: normal;
      }
    }
  }

  // Facets

  // States
}
