.cols {
  // Vars

  // Support

  // Module
  & {
    padding: 0 0 140px;

    @include mobile {
      padding: 0 0 vmin(65);
    }

    &__main {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 42px;

      @include mobile {
        flex-direction: column-reverse;
        margin: 0 0 vmin(34);
      }

      &-title {
        font-size: 43px;
        letter-spacing: 0;
        line-height: 44px;
        font-weight: normal;
        color: #0E1889;

        @include mobile {
          font-size: vmin(22);
          line-height: vmin(27);
          text-align: center;
        }

        span {
          color: #DD59CF;
        }

        &--top {
          max-width: 800px;
        }

        &--bottom {
          max-width: 755px;
        }

        &--params {
          color: #484543;
          max-width: 850px;
          margin: 0 0 2px;

          span {
            color: #118391;
          }
        }
      }

      &-image {
        display: none;
        width: 273px;
        height: 273px;
        background: #FFFFFF;
        border-radius: 50%;
        margin: 0 39px 0 93px;
        opacity: .7;

        @include mobile {
          width: vmin(213);
          height: vmin(213);
          margin: 0 auto vmin(25);
        }
      }
    }

    &__3cols {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 55px;
      grid-row-gap: 0px;

      @include mobile {
        grid-template-columns: 1fr;
        grid-row-gap: vmin(26);
      }

      &-item {
        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &-image {
        //width: 66px;
        //height: 66px;
        //opacity: 0.7;
        //background: #FFFFFF;
        //border-radius: 50%;
        //margin: 0 0 20px;

        &--0 {
          width: 66px;
          margin: 0 0 17px;

          @include mobile {
            width: vmin(66);
          }

          &-1 {
            width: 66px;
            margin: 0 0 21px;

            @include mobile {
              width: vmin(66);
            }
          }
        }

        &--1 {
          width: 74px;
          margin: 0 0 21px;

          @include mobile {
            width: vmin(74);
          }

          &-1 {
            width: 66px;
            margin: 0 0 23px;

            @include mobile {
              width: vmin(66);
            }
          }
        }

        &--2 {
          width: 70px;
          margin: 0 0 21px;

          @include mobile {
            width: vmin(70);
          }

          &-1 {
            width: 69px;
            margin: 0 0 24px;

            @include mobile {
              width: vmin(69);
            }
          }
        }

        @include mobile {
          //width: vmin(53);
          //height: vmin(53);
          margin: 0 auto vmin(11);
        }
      }

      &-title,
      &-text {
        font-size: 18px;
        line-height: 24px;
        color: #3E3C43;
        letter-spacing: 0;
        margin: 0 0 5px;

        @include mobile {
          font-size: vmin(16);
          line-height: vmin(21);
          margin: 0;
          text-align: center;
        }
      }

      &-title {
        font-weight: bold;

        @include mobile {
          margin: 0 0 vmin(5);
        }
      }
    }

    &__params {
      position: relative;
      &-title {
        font-family: $mabry;
        font-size: 20px;
        color: #AB9182;
        letter-spacing: 4px;
        text-transform: uppercase;
        margin: 0 0 20px;
        transition: all 500ms ease-in-out;

        &--after {
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }

        &--hide {
          opacity: 0!important;
          pointer-events: none;
        }

        &--show {
          opacity: 1!important;
        }
      }

      &-items {
        display: grid;
        grid-template-columns: 1fr 420px 262px;
        grid-template-rows: 1fr;
        grid-column-gap: 32px;
        grid-row-gap: 0px;
      }

      &-item {
        &-title {
          font-family: $helvetica;
          font-weight: 600;
          font-size: 18px;
          line-height: 28px;
          letter-spacing: 0;
          margin: 0 0 2px;
          transition: all 500ms ease-in-out;
        }

        &:nth-child(1) {
          color: #FF83A1;

          .cols__params-item-current {
            background: #FD91AB;
          }
        }

        &:nth-child(2) {
          color: #FF937E;

          .cols__params-item-current {
            background: #FDA391;
          }
        }

        &:nth-child(3) {
          color: #FFA541;

          .cols__params-item-current {
            background: #FFBC71;
          }
        }

        &-value {
          position: relative;
          background: #FFFFFF;
          border-radius: 2px;
          overflow: hidden;
          width: 100%;
          height: 9px;
        }

        &-current {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 2px;
          transition: all 500ms ease-in-out;
        }

        &--done {
          &:nth-child(1) {
            .cols__params-item-title {
              color: #4EB26A;
            }
            .cols__params-item-current {
              background: #4EB26A;
              width: 25%;
            }
          }
          &:nth-child(2) {
            .cols__params-item-title {
              color: #4FAAB4;
            }
            .cols__params-item-current {
              background: #4FAAB4;
              width: 45%;
            }
          }
          &:nth-child(3) {
            .cols__params-item-title {
              color: #749FD9;
            }
            .cols__params-item-current {
              background: #749FD9;
              width: 28%;
            }
          }
        }
      }
    }
  }

  // Facets

  // States
}
