.form {
  // Vars
  $buttonColor: #FF8389;

  // Support

  // Module
  & {

    &__wrapper {
      display: grid;
      grid-template-columns: 511px 1fr;
      grid-template-rows: 1fr;
      grid-column-gap: 76px;
      grid-row-gap: 0px;
      padding: 113px 0 0 27px;

      @include mobile {
        display: flex;
        grid-template-columns: 1fr;
        padding: vmin(100) vmin(2) vmin(22);
      }
    }

    &__group {
      padding: 20px 0 0;

      @include mobile {
        padding: 0;
        width: 100%;
      }
    }

    &__title {
      font-family: $mabry;
      font-size: 91px;
      line-height: 83px;
      color: #3E3C43;
      letter-spacing: 0;
      margin: 0 0 6px -5px;

      @include mobile {
        font-size: vmin(42);
        line-height: vmin(40);
        text-align: center;
        margin: 0 0 vmin(6);
      }
    }

    &__text {
      font-size: 21px;
      line-height: 29px;
      color: #44464C;
      letter-spacing: 0;
      margin: 0 -20px 51px 0;

      @include mobile {
        font-size: vmin(16);
        line-height: vmin(22);
        text-align: center;
        margin: 0 0 vmin(56);
      }

      &--signin {
        margin: 0 0 80px;

        @include mobile {
          margin: 0 0 vmin(78);
        }
      }

      &--getaccess {
        margin: 0 0 51px;

        @include mobile {
          margin: 0 0 vmin(56);
        }
      }
    }

    &__inputs {
      display: flex;
      flex-direction: column;
    }

    &__input {
      background: #FFFFFF;
      border-radius: 4px;
      padding: 16px 24px 17px;
      font-family: $mabry;
      font-size: 21px;
      color: #3E3C43;
      letter-spacing: 0;
      border: none;
      margin: 0 0 20px;

      @include mobile {
        width: 100%;
        border-radius: vmin(4);
        padding: vmin(14) vmin(10) vmin(17);
        font-size: vmin(20);
        letter-spacing: 0;
        text-align: center;
        margin: 0 0 vmin(10);
      }

      &::placeholder {
        color: #B5B0BE;

        @include mobile {
          opacity: 0.2;
          color: #000647;
        }
      }

      &:focus {
        outline: none;
      }
    }

    &__image {
      //background: #FFFFFF;
      //border-radius: 4px;
      width: 546px;

      @include mobile {
        display: none;
      }
    }

    &__button {
      font-family: $mabry;
      font-size: 21px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      padding: 16px 24px 17px;
      background: $buttonColor;
      border-radius: 4px;
      cursor: pointer;
      appearance: none;
      border: none;

      @include mobile {
        font-size: vmin(20);
        padding: vmin(15) vmin(30) vmin(16);
        border-radius: vmin(4);
      }

      &:focus {
        outline: none;
      }
    }

    &__checkboxes {
      padding: 5px 13px 0;
      margin: 0 0 50px;

      @include mobile {
        padding: vmin(13) 0 0 vmin(6);
        margin: 0 0 vmin(20);
      }
    }

    &__checkbox {
      label {
        position: relative;
        display: flex;
        align-items: center;
        font-size: 21px;
        color: #3E3C43;
        letter-spacing: 0;

        @include mobile {
          font-size: vmin(16);
          line-height: vmin(20);
          display: grid;
          grid-template-columns: vmin(24) 1fr;
          grid-template-rows: auto;
          grid-column-gap: vmin(14);
          grid-row-gap: 16px;
        }

        a {
          color: #3E3C43;
        }

        &::before {
          content: '';
          width: 24px;
          height: 24px;
          background: #FFFFFF;
          border-radius: 3px;
          display: block;
          margin: 0 17px 0 0;

          @include mobile {
            width: vmin(24);
            height: vmin(24);
            border-radius: vmin(3);
            margin: 0;
          }
        }

        &::after {
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 3px;
          position: absolute;
          left: 6px;
          top: 7px;

          @include mobile {
            width: vmin(12);
            height: vmin(12);
            border-radius: vmin(3);
            left: vmin(6);
          }
        }
      }

      input {
        display: none;
      }

      input[type=checkbox]:checked + label:after {
        background: #DE9CD7;
      }

      &:not(:last-child) {
        margin: 0 0 21px;
      }
    }

    &__reset {
      font-family: $mabry;
      font-size: 19px;
      color: #959299;
      letter-spacing: 0;
      text-align: center;
      margin: 24px 0 0;

      @include mobile {
        font-size: vmin(16);
        margin: vmin(19) 0 0;
      }
    }
  }

  // Facets

  // States
}
