.solution-header {
  // Vars

  // Support

  // Module
  & {
    margin: 0 97px 115px;
    &__wrapper {
      padding: 0 96px;
      display: block;
      text-align: center;
      border-bottom: 2px solid #fff;
      text-decoration: none;
    }

    &__label {
      font-family: $mabry;
      font-size: 16px;
      line-height: 25px;
      color: #A8958B;
      letter-spacing: 6.22px;
      text-align: center;
      margin: 0 0 11px;
      text-transform: uppercase;
    }

    &__title {
      font-family: $mabry;
      font-size: 72px;
      line-height: 83px;
      letter-spacing: 0;
      margin: 0 0 13px;
    }

    &__lead {
      font-size: 23px;
      line-height: 32px;
      color: #3E3C43;
      letter-spacing: 0;
      margin: 0 0 64px;
    }
  }

  // Facets

  // States
}
