.solution-header {
  // Vars

  // Support

  // Module
  & {
    margin: 0 97px 115px;
    @include mobile {
      margin: 0 0 vmin(60);
    }
    &__wrapper {
      padding: 0 96px;
      display: block;
      text-align: center;
      border-bottom: 2px solid #fff;
      text-decoration: none;

      @include mobile {
        padding: 0;
        border-bottom: none;
      }
    }

    &__label {
      font-family: $mabry;
      font-size: 16px;
      line-height: 25px;
      color: #A8958B;
      letter-spacing: 6.22px;
      text-align: center;
      margin: 0 0 11px;
      text-transform: uppercase;

      @include mobile {
        font-size: vmin(16);
        letter-spacing: vmin(6.22);
        line-height: vmin(25);
        margin: 0 0 vmin(14);
      }
    }

    &__title {
      font-family: $mabry;
      font-size: 72px;
      line-height: 83px;
      letter-spacing: 0;
      margin: 0 0 13px;

      @include mobile {
        font-size: vmin(39);
        line-height: vmin(39);
        margin: 0 0 vmin(14);
      }
    }

    &__lead {
      font-size: 23px;
      line-height: 32px;
      color: #3E3C43;
      letter-spacing: 0;
      margin: 0 0 64px;

      @include mobile {
        font-size: vmin(17);
        line-height: vmin(22);
        margin: 0;
      }
    }
  }

  // Facets

  // States
}
