.features {
  // Vars

  // Support

  // Module
  & {
    padding: 0 0 139px;

    @include mobile {
      padding: 0 0 vmin(43);
    }

    &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &-title {
        font-size: 56px;
        line-height: 52px;
        font-weight: normal;
        color: #0E1889;
        letter-spacing: 0;
        margin: 0;
        max-width: 590px;
        margin: 0 0 17px;

        @include mobile {
          font-size: vmin(29);
          line-height: vmin(34);
          text-align: center;
          margin: 0 0 vmin(10);
          max-width: initial;
        }
      }

      &-text {
        font-size: 20px;
        line-height: 28px;
        color: #3E3C43;
        letter-spacing: 0;
        max-width: 590px;

        @include mobile {
          font-size: vmin(16);
          line-height: vmin(21);
          text-align: center;
          max-width: initial;
        }
      }

      &-image {
        opacity: 0.7;
        background: #FFFFFF;
        width: 400px;
        height: 400px;
        border-radius: 50%;

        @include mobile {
          width: vmin(241);
          height: vmin(241);
          margin: 0 0 vmin(28);
        }

        &--1 {
          height: 488px;
          transform: translateX(-20px);

          @include mobile {
            height: vmin(294);
            margin: 0 auto vmin(3);
          }
        }

        &--2 {
          height: 471px;

          @include mobile {
            height: vmin(272);
            margin: 0 auto vmin(11);
          }
        }

        &--feature-1 {
          height: 385px;

          @include mobile {
            height: initial;
            width: vmin(290);
            margin: 0 auto vmin(10);
          }
        }

        &--feature-2 {
          height: 478px;

          @include mobile {
            height: initial;
            width: vmin(290);
            margin: 0 auto vmin(10);
          }
        }

        &--feature-3 {
          height: 285px;

          @include mobile {
            height: initial;
            width: vmin(250);
            margin: 0 auto vmin(20);
          }
        }
      }

      &:not(:last-child) {
        margin: 0 0 48px;

        @include mobile {
          margin: 0 0 vmin(40);
        }
      }

      &:nth-child(odd) {
        flex-direction: row;
        padding: 0 0 0 74px;

        @include mobile {
          flex-direction: column;
          padding: initial;
        }
      }

      &:nth-child(even) {
        flex-direction: row-reverse;
        padding: 0 74px 0 0;

        @include mobile {
          flex-direction: column;
          padding: initial;
        }
      }

      &--overview {
        &:nth-child(odd) {
          padding: 0;
        }
        &:nth-child(even) {
          padding: 0;
          margin-right: -18px;
        }
        .features__item-title {
          max-width: 661px;
        }
        &:nth-child(1) {
          margin: 0 0 128px;
          @include mobile {
            margin: 0 0 vmin(32);
          }
        }
        &:nth-child(2) {
          margin: 0 0 160px;
          @include mobile {
            margin: 0 0 vmin(32);
          }
        }
      }
    }
  }

  // Facets

  // States
}
