.insight-today {
  // Vars

  // Support

  // Module
  & {
    margin: 0 0 72px;

    @include mobile {
      margin: 0 vmin(12) vmin(20);
      border-radius: vmin(4);
      padding: vmin(12) 0;
      background: #ffffff;
      box-sizing: border-box;
      min-height: vmin(290);

      &:hover {
        box-shadow: 2px 2px 15px 0 rgba(0, 0, 0, 0.12);
      }
    }

    &__wrapper {
      padding: 0 87px;
      display: grid;
      grid-template-columns: 465px 1fr;
      grid-template-rows: 260px;
      grid-column-gap: 22px;
      grid-row-gap: 0px;

      @include mobile {
        padding: initial;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-row-gap: vmin(10);
      }
    }

    &__image {
      padding: 10px;
      background-color: #FFFFFF;
      border-radius: 4px;
      box-sizing: border-box;

      @include mobile {
        padding: initial;
      }

      &-label {
        display: none;

        @include mobile {
          display: initial;
          font-size: vmin(17);
          line-height: vmin(28);
          letter-spacing: vmin(5);
        }
      }

      &-inner {
        height: 100%;
        background-color: #EFEDEC;
        background-size: cover;
        background-position: center;

        @include mobile {
          width: 100%;
          height: vmin(160);
          border-radius: vmin(4);
          padding: vmin(10) vmin(5) vmin(10) vmin(10);
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
        }
      }
    }

    &__meta {
      display: flex;
      flex-direction: column;
      padding: 0 0 15px;

      @include mobile {
        padding: initial;
      }
    }

    &__label {
      font-weight: 500;
      font-size: 17px;
      line-height: 27px;
      color: #FF9252;
      letter-spacing: 0;
      margin: -3px 0 6px;

      @include mobile {
        font-size: vmin(17);
        line-height: vmin(27);
        margin: 0 0 vmin(3);
      }
    }

    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      color: #464241;
      letter-spacing: 0;
      margin: 0 0 15px;

      @include mobile {
        font-size: vmin(17);
        line-height: vmin(23);
        padding: 0 vmin(4) 0 vmin(3);
        font-weight: normal;
      }
    }

    &__lead {
      font-size: 18px;
      color: #726B67;
      letter-spacing: 0;
      line-height: 26px;

      @include mobile {
        display: none;
      }
    }

    &__button {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
      font-size: 23px;
      color: #269D9B;
      letter-spacing: 0;
      text-decoration: none;
      margin: auto 0 0;
      transition: all 150ms ease;

      @include mobile {
        opacity: 0;
        position: absolute;
        top: vmin(-12);
        bottom: vmin(-40);
        left: 0;
        width: 100%;
      }

      &-icon {
        width: 30px;
        height: 17px;
        margin: 0 0 0 12px;
        transition: all 150ms ease;
      }

      &:hover {
        color: #15B3B1;
      }
    }
  }

  // Facets

  // States
}
